.h1{
    color: blue;
    text-align: center;
    margin: auto;
}

#table {
    border-collapse: collapse;
    width: 60%;
    margin: auto;
  }
   
   #table ,tr,td{
    border: 1px solid #ddd;
    text-align: left;
  } 
  
  td{
    padding:15px;
  }
  
  tr:nth-child(even)
  {
   background-color: #b0b3b4;
  }
   
  tr:nth-child(odd)
  {
   background-color: rgb(218, 219, 219);
  }
  
  th:nth-child(odd){
    background-color:#f2f2f2;
  } 
  th:nth-child(even){
    background-color: #f2f2f2;
  }
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FFD700;
    color:#3c586d;
  }

